name: vin_scanner
description: '''Multipurpose scanner that scans 2D barcodes and can be used in any orientation, this also supports orientation lock for camera'''
version: 0.0.2
homepage: https://github.com/flutter-devs/vin_scanner.git

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  camera: ^0.11.3
  google_mlkit_barcode_scanning: ^0.12.1
  permission_handler: ^11.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter: