name: vin_scanner
description: "Vin Scanner"
version: 0.0.1
homepage: https://github.com/flutter-devs/vin_scanner.git

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  camera: ^0.11.0+2
  google_mlkit_barcode_scanning: ^0.12.0
  permission_handler: ^11.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter: